@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

html{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}
body{
    font-size: 1rem;
    color:black;
    background: url("./img/bcg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    line-height: 1;
    background-color: #ffffff;
    box-shadow: 3px 3px 4px rgb(48, 48, 48);
}
h6, .h6{
    font-size: 1.33rem;
    font-weight: normal;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
}
h5, .h5{
    font-size: 1.66rem;
    font-weight: bold;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
}
h4, .h4{
    font-size: 2rem;
    font-weight: normal;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
}
h3, .h3{
    font-size: 2.33rem;
    font-weight: bold;
    font-variant:small-caps;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
}
h2, .h2{
    font-size: 2.66rem;
    font-weight: normal;
    font-variant:small-caps;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
h1, .h1{
    font-size: 3rem;
    font-weight: bold;
    font-variant:small-caps;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
.title-color{
    color: #8d2b14;
}
.text-align-left{text-align: left;}
.text-align-right{text-align: right;}
.text-align-justify{text-align: justify;}
.text-align-center{text-align: center;}
.link{
    text-decoration: none;
}
.fancy{
    font-size: 6rem;
    color: white;
    text-shadow: 
    1px 1px 1px rgba(255, 0, 0, 1),
    -1px -1px 1px rgba(255, 255, 0, 1),
    1px -1px 1px rgba(0, 0, 255, 1),
    -1px 1px 1px rgba(0, 255, 0, 1);
}
.highligter{
    background-color:#DB5A42;
    box-shadow: 0px 2px 0px black;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding: 0 16px; /*alternativni način da se zapiše, gornja i donja 0, lijeva i desna 16px*/
    box-sizing: border-box;
}
.cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    background: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFUlEQVQImWNgYGAwZkAF6HxyAIaZACkNAM3VDeB7AAAAAElFTkSuQmCC) top left repeat;
    background-color:#DB5A42;
    display: inline-block;
    line-height: 3;
}
.cbutton{
    border: 0;
    background-color: #DB5A42;
    font-size: 1rem;
}
.profile_image{
    display: block;
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 30px 30px;
    /*
    object-position: center -20px;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    border-color:navy;
    border: 5px solid navy;
    border-top: 5px solid blue;
    border-bottom: 5px solid black;
    box-shadow: 10px 10px 15px -3px rgba(0,0,0,1);
    transition: transform 0.5s ease;
    */
}
.profile-image:hover{
    /*transform: translate(30px, 0px) rotate(0.02turn);
    transition: transform 0.2s ease;*/
}
.project_title{
    background-color: #4F6367;
    border-radius: 30px 30px 10px 10px;
    margin-bottom: 20px;
    box-shadow: 
        8px 8px 8px rgba(0,0,0,0.4);
    width: calc(100% - 256px);
    font-size: 32px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #4F6367;
}
.project_description{
    color: black;
    font-size: 1rem;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
}
.project_link{
    position: relative;
    top: 0px;
    display: inline-block;
    background-color: #4F6367;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1;
    padding: 12px 16px;
    bottom: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 
        4px 4px 4px rgba(0,0,0,0.4);
    transition: 
        border-radius 0.2s ease,
        font-size 0.2s ease; /*zadnja vrijednost delay*/
    color: white;
    text-decoration: none;
}
.project_link:hover{
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
}
.project_technology_list{
    margin: 0px 0;
    padding: 0;
}
.project_technology_list li{
    display: inline-block;
    background-color: #c6cad3;
    padding: 2px 4px;
    color: #23282d;
    border-radius: 5px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.project_technology_list li:last-child {
    margin-right: 0px;
}
.project_footer{
    margin-bottom: 8px;
}
.tooltip{
    position: relative;
}
.tooltip_message{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 4px 4px;
    font-size: 0.8rem;
    width: 150%;
    max-width: 250px;
}
.tooltip:hover .tooltip_message{
    display: inline-block;
}
.float_collumn{
    float: left;
    width: calc(50% - 32px);
    margin: 0 16px;
}
.float_row{
    margin: 0 -16px;
}
.float_row:after{
    content: "";
    display: block;
    clear: both;
}
.navigation{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /*alternativa*/
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    justify-content: center; /*glavna os*/
    align-items: center; /*sporedna os*/
    height: 50px;
    background: gray;
}
.navigation_item{
    list-style: none;
    display: block;
}
.navigation_item a{
    color: white;
    background: black;
    padding: 6px 8px;
}
.color_palette{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.palette_item{
    display: block;
    width: calc(1 / 6 * 100%);
    height: auto;
    background: red;
    margin: 4px;
    aspect-ratio: 1 / 1;
    position: relative;
}
.palette_item::before{
    content:"";
    display: block;
    padding-top: 100%;
}
.bg_color_black{
    background-color: black;
}
.bg_color_white{
    background-color: white;
}
.bg_color_primary{
    background-color: #DB5A42;
}
.bg_color_background{
    background-color: #7a8b9f;
}
.bg_pattern{
    background: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFUlEQVQImWNgYGAwZkAF6HxyAIaZACkNAM3VDeB7AAAAAElFTkSuQmCC) top left repeat;
}
.palette_item_content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1{
    box-sizing: border-box;
    background: #e2e1e6;
    padding: 16px;
    border: 4px solid black;
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 10px -3px rgba(0,0,0,0.5);
    transition: transform 0.5s ease;
}
.button1:hover{
    font-weight: bolder;
    border: 2px solid black;
}
.button2{
    box-sizing: border-box;
    background: #e2e1e6;
    padding: 16px;
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 10px -3px rgba(0,0,0,0.5);
    transition: transform 0.5s ease;
}
.button2:hover{
    transform: rotate(-0.01turn) scale(1.1);
    background-color: darkcyan;
    transition: transform 0.2s ease;
    font-weight: bold;
}
.header {
    display: flex;
    flex-flow: row nowrap;
    background-color: #ffffff;
    border-radius: 50px;
    border: 7px solid rgba(0,0,0,0.3);
    box-shadow: 
        0px 6px 10px #4F6367,
        0px -6px 10px #4F6367,
        6px 0px 10px rgb(4, 180, 72),
        -6px 0px 10px rgb(4, 180, 72);
    width: 100%;
    margin-bottom: 40px;
    min-width: 1024px;
}
.header_row{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 100%;
}
.header_info{
    display: block;
    padding-left: 40px;
    border-left-style: solid;
    border-left-width: thin;
    height: 370px;
    list-style: none;
}
.list_links{
    list-style: none;  
}

@keyframes blink {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

.blinking{
    animation: blink 0.5s ease-in-out 0s infinite alternate forwards;
}

@keyframes in_ver {
    0%{
        transform: translate(0px, -100px);
        opacity: 0%;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 100%;
    }
}

.in_vertical{
    animation: in_ver 5s ease-in-out 0s 1 forwards;
}

@keyframes in_hor {
    0%{
        transform: translate(-100px, 0px);
        opacity: 0%;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 100%;
    }
}

.in_horizontal{
    animation: in_hor 5s ease-in-out 0s 1 forwards;
}

@keyframes a_jump {
    0%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(0px, -20px);
    }
}

.jump{
    animation: a_jump 0.3s ease-in-out 0s infinite alternate forwards;
}