html{
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
}
body{
    font-size: 1rem;
    color:#2D2A32;
}
.p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1;
    line-height: 1;
}
h6, .h6{
    font-size: 1.33rem;
    font-weight: bold;
}
h5, .h5{
    font-size: 1.66rem;
    font-weight: bold;
}
h4, .h4{
    font-size: 2rem;
    font-weight: bold;
}
h3, .h3{
    font-size: 2.33rem;
    font-weight: bold;
}
h2, .h2{
    font-size: 2.66rem;
    font-weight: bold;
}
h1, .h1{
    font-size: 3rem;
    font-weight: bold;
    font-variant:small-caps;
}
.text-align-left{text-align: left;}
.text-align-right{text-align: right;}
.text-align-justify{text-align: justify;}
.text-align-center{text-align: center;}
.link{
    text-decoration: none;
}
.fancy{
    font-size: 6rem;
    color: white;
    text-shadow: 
    1px 1px 1px rgba(255, 0, 0, 1),
    -1px -1px 1px rgba(255, 255, 0, 1),
    1px -1px 1px rgba(0, 0, 255, 1),
    -1px 1px 1px rgba(0, 255, 0, 1);
}