@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

html{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}
body{
    font-size: 1rem;
    color:black;
    background-color:#7a8b9f;
    background-image: url("./img/city-bcg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background: 
    url("./img/city-bcg.jpg") top center /100% no-repeat, 
    /*url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAL0lEQVQYlWNgQAX/GYgA2BRhiP3HIohVEbJioqzHZvp/dEl0hSSZTJSVJJlOukIAlCAc5NAUfWcAAAAASUVORK5CYII=) top left repeat,
    linear-gradient(180deg, rgba(122,139,159,1) 35%, rgba(255,255,255,1) 100%);*
    background-repeat: repeat-y; */
}
.p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    line-height: 1;
    background-color: #ffffff;
    box-shadow: 3px 3px 4px rgb(48, 48, 48);
}
h6, .h6{
    font-size: 1.33rem;
    font-weight: normal;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
}
h5, .h5{
    font-size: 1.66rem;
    font-weight: bold;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
}
h4, .h4{
    font-size: 2rem;
    font-weight: normal;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
}
h3, .h3{
    font-size: 2.33rem;
    font-weight: bold;
    font-variant:small-caps;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
}
h2, .h2{
    font-size: 2.66rem;
    font-weight: normal;
    font-variant:small-caps;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
h1, .h1{
    font-size: 3rem;
    font-weight: bold;
    font-variant:small-caps;
    color:#011627;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
.title-color{
    color: #8d2b14;
}
.text-align-left{text-align: left;}
.text-align-right{text-align: right;}
.text-align-justify{text-align: justify;}
.text-align-center{text-align: center;}
.link{
    text-decoration: none;
}
.fancy{
    font-size: 6rem;
    color: white;
    text-shadow: 
    1px 1px 1px rgba(255, 0, 0, 1),
    -1px -1px 1px rgba(255, 255, 0, 1),
    1px -1px 1px rgba(0, 0, 255, 1),
    -1px 1px 1px rgba(0, 255, 0, 1);
}
.highligter{
    background-color:#DB5A42;
    box-shadow: 0px 2px 0px black;
}
a:link{
    color: #011627;
    ;
}
a:visited{
    color: #011627;
}
a:hover{
    color: #DB5A42;
}
.wrapper{
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; /*alternativni način da se zapiše, gornja i donja 0, lijeva i desna auto*/
    padding-left: 16px;
    padding-right: 16px;
    padding: 0 16px; /*alternativni način da se zapiše, gornja i donja 0, lijeva i desna 16px*/
    box-sizing: border-box;
}
.cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    background: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFUlEQVQImWNgYGAwZkAF6HxyAIaZACkNAM3VDeB7AAAAAElFTkSuQmCC) top left repeat;
    background-color:#DB5A42;
    display: inline-block;
    line-height: 3;
}
.cbutton{
    border: 0;
    background-color: #DB5A42;
    font-size: 1rem;
}
.profile-image{
    display: block;
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: center -20px;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    border-color:navy;
    border: 5px solid navy; /*Isto kao border iznad*/
    border-top: 5px solid blue;
    border-bottom: 5px solid black;
    box-shadow: 10px 10px 15px -3px rgba(0,0,0,1);
}
.project{
    box-sizing: border-box;
    background: #e2e1e6;
    padding: 16px;
    border: 2px solid black;
    display: block;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 10px -3px rgba(0,0,0,0.5);

}
.project_title{
    margin-bottom: 0px;
}
.project_description{
    margin: 8px 0px;
}
.project_link{
    display: inline-block;
    background-color: #7a8b9f;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1;
    padding: 12px 16px;
}
.project_link:hover{
    color: #DB5A42;
}
.project_technology_list{
    margin: 0px 0;
    padding: 0;
}
.project_technology_list li{
    display: inline-block;
    background-color: #c6cad3;
    padding: 2px 4px;
    color: #23282d;
    border-radius: 5px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.project_technology_list li:last-child {
    margin-right: 0px;
}
.project_footer{
    margin-bottom: 8px;
}