.cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    background: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFUlEQVQImWNgYGAwZkAF6HxyAIaZACkNAM3VDeB7AAAAAElFTkSuQmCC) top left repeat;
    background-color:#DB5A42;
    display: inline-block;
    line-height: 3;
}
.cbutton{
    border: 0;
    background-color: #DB5A42;
    font-size: 1rem;
}