.tooltip{
    position: relative;
}
.tooltip_message{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 4px 4px;
    font-size: 0.8rem;
    width: 150%;
    max-width: 250px;
}
.tooltip:hover .tooltip_message{
    display: inline-block;
}